main #seccion1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto 2rem;
  font-family: sans-serif;
}

main #seccion2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  font-family: sans-serif;
  gap: 2rem;
}

main img{
    max-width: 400px;
    height: auto;
}
